.ews-dialog {
    background: rgba(27,27,27,1);
    border: 1px solid #0cf;
    border-radius: 6px;
    z-index: 1700;
    font-size: 10pt;
    color: #eee;
}

.ews-dialog a.ews-close-window {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100
}

.ews-dialog .ewsPanelHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    height: 30px;
    overflow: hidden
}

.ews-dialog .ewsPanelContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 10px;
    overflow: auto;
    border-top: 1px solid #333
}

.ews-dialog button {
    font-size: 10pt;
    padding: 2px 6px
}

.ews-dialog .ews-table {
    background: 0 0
}

.ews-dialog .ui-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    background-image: url(close.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.ui-dialog-titlebar-close:focus {
    outline: none !important;
}

.ui-widget-overlay {
    background-color: black;
    opacity: 0.3
}

.ewsNavButtonGroup {
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ewsProfileHistoryButtonGroup {
    width: 370px;
}

.ewsNavButtonGroup div {
    margin-left: 7px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ewsNavButtonGroup div:first-child {
    margin-left: 0;
}

.ewsNavButton {
    cursor: pointer;
    border: 1px solid rgba(60,60,60,.83);
    padding: 7px;
    border-radius: 2px;
    font-size: 13px;
    color: #e4e1e1;
    letter-spacing: .5px;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: background-color .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
    width: 100%;
}

.ewsNavButton:hover {
    background-color:hsla(0,0%,100%,.11);
}

.ewsNavButton:active {
    background-color:hsla(0,0%,100%,.07);
}

.ewsNavButton.selected {
    background-color: rgba(54,121,165,.8);
}

.custom-highlight button {
    color: #e4e1e1;
    border-color: #434343;
}

.custom-unhighlight button {
    color: ##FFA500;
    border-color ##FFA500;
}

#ews-custom-highlight-color-label-1,
#ews-custom-highlight-color-label-2,
#ews-custom-highlight-color-label-3,
#ews-custom-highlight-color-label-4 {
    padding: 10px;
}

#ews-custom-highlight-color-1,
#ews-custom-highlight-color-2,
#ews-custom-highlight-color-3,
#ews-custom-highlight-color-4 {
    width: 40px;
    height: 15px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    border: 1px solid #e4e1e1;
}

#ewsCustomHighlightedCells {
    overflow-y: auto;
    max-height: 800px;
}

#ewsCustomHighlightedCellsWrapper th {
    text-align: left;
    padding-right: 10px;
}

#ewsCustomHighlightedCellsWrapper tr:hover {
    background-color: #333;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(1) {
    text-align: right;
    padding-right: 10px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(2) {
    padding-right: 15px;
    cursor: pointer;
    min-width: 210px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(3) {
    width: 60px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(4) {
    width: 170px;
}

#ewsCustomHighlightedCellsWrapper button {
    color: #d93f3f;
}

#ews-custom-highlight-period-selection,
#ews-custom-highlight-dataset-selection {
    display: inline-block;
    width: 50%;
    float: left;
}

#ews-custom-highlight-period-selection .ewsNavButton,
#ews-custom-highlight-dataset-selection .ewsNavButton {
    display: inline-block;
    width: auto;
}

#ews-current-color-indicator {
    top: 56px;
    left: 22px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}

#cubeInspectorFloatingControls .controls .inspect .parents {
  display: none;
  background-color: #4b4971;
}


#cubeInspectorFloatingControls .controls .showmeme .parents {
  display: none;
  background-color: #bb30bb;
}

#settings-convert-x-highlights-to-sced-highlights-wrapper {
    display: none;
}

#ews-custom-highlight-color-label-4 {
    margin-left: 30px;
    display: none;
}

#settings-x-highlight-wrapper {
    display: block;
}